
.autoBlur{
  animation:blur-animation;
  animation-timeline: view();
}


@keyframes blur-animation {
  0% {
    -webkit-filter: blur(40px);
    filter: blur(40px);
  }
  30% , 70% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
  100% {
    -webkit-filter: blur(40px);
    filter: blur(40px);
  }
}

.autoshow{
  animation: autoshowAnimation both;
  animation-timeline: view(70% 3%);
}

@keyframes autoshowAnimation {
 from{
    opacity: 0;
    transform: translateY(200px) scale(0.5);
 }to{
    opacity: 1;
    transform: translateY(0px) scale(1);
 }
}