
.autoBlur{
  animation:blur-animation;
  animation-timeline: view();
}


@keyframes blur-animation {
  0% {
    -webkit-filter: blur(40px);
    filter: blur(40px);
  }
  30% , 70% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
  100% {
    -webkit-filter: blur(40px);
    filter: blur(40px);
  }
}
/* 
@keyframes blur-animation{
  0%{
    filter: blur(40px);
  }50%,53%{
    filter: blur(0px);
  }
  100%{
    filter: blur(40px);
  }
} */